Employee,Date,val1,val2,SUM,LuaMultiply,linkedText
{{range .TOP_LEVEL.PROJECT_LEDGER_LINE}}{{index .Employee "-VALUE"}},{{dateFormat .Trans_Date "2006-01-02" "02.01.2006"}},{{.val1}},{{.val2}},{{add .val1 .val2}},{{lua "mul" .val1 .val2}},{{index .Linked_Text "-VALUE"}}
{{end}}